<section class="header__form form">
  <div class="wrapper">
    <img src="../../images/mobile/logo.jpg" alt="" class="form__logo" />
    <div class="form__title">
      You’re one step away from joining our elite trading team
    </div>
    <div class="form__subtitle">
      Just fill in the fields below with your personal data
    </div>
    <form action="" class="form__trial">
      <div class="form__container">
        <div id="firstname">
          <input type="text" class="form__input" placeholder="First name" />
        </div>
        <div id="lastname">
          <input type="text" class="form__input" placeholder="Last name" />
        </div>
        <div id="email">
          <input type="text" class="form__input" placeholder="Email" />
        </div>
        <div id="country">
          <select name="countries" id="form__select" class="form__input">
            <option selected value="Romania">Romania</option>
          </select>
        </div>
        <div id="phone">
          <input
            type="text"
            class="form__input form__phone-prefix"
            placeholder="+40000"
          />
          <input type="text" class="form__phone" placeholder="Phone" />
        </div>
      </div>
      <button class="form__submit button-primary" type="submit">
        Try a 14-day trial period
      </button>
    </form>
    <p class="form__about">
      You will be contacted shortly by one of our trading mentors
    </p>
  </div>
</section>
